### 수집된 데이터로 이미지 데이터셋 생성

In [1]:
import os, glob
import cv2
import numpy as np
import pandas as pd

### [1] 수집 데이터 병합

In [5]:
# path='./edu/9.opencv/teamproject/make_model/data/'
# filename=path+'bottle*'
# fileList=glob.glob(filename)
# len(fileList)

5

In [9]:
# cnt=0
# for file in fileList:
#     cnt+=1
#     if cnt==1:
#         DF=pd.read_csv(file)
#     else:
#         new_DF=pd.read_csv(file)
#         DF=pd.concat([DF,new_DF])

In [13]:
# DF['label']='plastic'
# DF

,0,1,2,3,4,5,6,7,8,9,...,22491,22492,22493,22494,22495,22496,22497,22498,22499,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,plastic
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,plastic
2,176,177,177,177,176,176,176,177,174,174,...,186,184,182,180,184,185,189,187,193,plastic
3,177,177,177,176,176,176,176,176,175,175,...,184,185,185,185,186,187,188,189,189,plastic
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,plastic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,167,168,167,171,171,170,173,171,172,...,91,93,93,96,96,95,93,94,96,plastic
996,139,141,146,153,159,164,167,169,171,171,...,93,93,93,93,94,94,93,93,93,plastic
997,79,79,79,79,79,79,79,78,78,78,...,170,170,169,168,167,166,165,164,164,plastic
998,1,167,168,167,171,171,170,173,171,172,...,91,93,93,96,96,95,93,94,96,plastic
999,176,177,177,177,176,176,176,177,174,174,...,186,184,182,180,184,185,189,187,193,plastic

In [15]:
# DF.to_csv('./edu/9.opencv/teamproject/make_model/data/plastic.csv')

In [16]:
# path='./edu/9.opencv/teamproject/make_model/data/'
# filename=path+'*.csv'
# fileList=glob.glob(filename)
# len(fileList)
# fileList

['./edu/9.opencv/teamproject/make_model/data\\can.csv',
 './edu/9.opencv/teamproject/make_model/data\\glass.csv',
 './edu/9.opencv/teamproject/make_model/data\\paper.csv',
 './edu/9.opencv/teamproject/make_model/data\\plastic.csv',
 './edu/9.opencv/teamproject/make_model/data\\styrofoam.csv']

In [17]:
# cnt=0
# for file in fileList:
#     cnt+=1
#     if cnt==1:
#         DF=pd.read_csv(file)
#     else:
#         new_DF=pd.read_csv(file)
#         DF=pd.concat([DF,new_DF])

In [18]:
# DF.to_csv('./edu/9.opencv/teamproject/make_model/data/recycle.csv')

### [2] 데이터 불러오기

- DataFrame에 저장

In [2]:
imgDF=pd.read_csv('./edu/9.opencv/teamproject/make_model/data/recycle.csv')

In [3]:
feature=imgDF.iloc[:,1:-2]
feature.head()

,0,1,2,3,4,5,6,7,8,9,...,22490,22491,22492,22493,22494,22495,22496,22497,22498,22499
0,200,202,202,208,202,203,208,200,202,200,...,190,177,178,192,197,183,191,202,188,191
1,200,202,202,208,202,203,208,200,202,200,...,190,177,178,192,197,183,191,202,188,191
2,153,160,170,171,153,168,162,158,153,161,...,135,121,138,126,134,131,127,123,135,126
3,153,160,170,171,153,168,162,158,153,161,...,135,121,138,126,134,131,127,123,135,126
4,195,194,196,195,200,200,197,197,193,197,...,205,199,192,199,204,191,195,189,190,192

In [4]:
feature

,0,1,2,3,4,5,6,7,8,9,...,22490,22491,22492,22493,22494,22495,22496,22497,22498,22499
0,200,202,202,208,202,203,208,200,202,200,...,190,177,178,192,197,183,191,202,188,191
1,200,202,202,208,202,203,208,200,202,200,...,190,177,178,192,197,183,191,202,188,191
2,153,160,170,171,153,168,162,158,153,161,...,135,121,138,126,134,131,127,123,135,126
3,153,160,170,171,153,168,162,158,153,161,...,135,121,138,126,134,131,127,123,135,126
4,195,194,196,195,200,200,197,197,193,197,...,205,199,192,199,204,191,195,189,190,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26934,206,49,255,219,27,255,92,0,0,221,...,201,225,24,97,255,120,171,0,231,255
26935,210,10,80,255,119,255,62,196,0,255,...,0,0,0,0,0,0,0,0,0,0
26936,0,255,10,135,218,20,90,38,161,154,...,0,0,0,0,0,0,0,0,0,0
26937,255,52,218,115,5,242,160,0,244,255,...,255,25,0,212,209,255,255,164,255,0
26938,206,49,255,219,27,255,92,0,0,221,...,201,225,24,97,255,120,171,0,231,255

In [5]:
target=imgDF.loc[:,'label']
target.head()

0    can
1    can
2    can
3    can
4    can
Name: label, dtype: object

In [6]:
target

0              can
1              can
2              can
3              can
4              can
           ...
26934    styrofoam
26935    styrofoam
26936    styrofoam
26937    styrofoam
26938    styrofoam
Name: label, Length: 26939, dtype: object

In [70]:
# label=['cardboard']*403+['glass']*501+['metal']*410+['paper']*594+['plastic']*482+['trash']*137
# label[0:5], label[5000:5005], label[10000:10005]

In [95]:
# label[0:5], label[403:408], label[904:909],label[1314:1319], label[1920:1925], label[2400:2405]

(['cardboard', 'cardboard', 'cardboard', 'cardboard', 'cardboard'],
 ['glass', 'glass', 'glass', 'glass', 'glass'],
 ['metal', 'metal', 'metal', 'metal', 'metal'],
 ['paper', 'paper', 'paper', 'paper', 'paper'],
 ['plastic', 'plastic', 'plastic', 'plastic', 'plastic'],
 ['trash', 'trash', 'trash', 'trash', 'trash'])

### [3] 모델링

---
# no scaled
---

In [7]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(feature,target,test_size=0.2,random_state=12, stratify=target)

In [8]:
train_x.shape,test_x.shape

((21551, 22500), (5388, 22500))

In [9]:
train_x

,0,1,2,3,4,5,6,7,8,9,...,22490,22491,22492,22493,22494,22495,22496,22497,22498,22499
7765,185,187,189,190,189,188,187,187,187,187,...,169,168,167,168,169,168,166,165,163,161
6958,104,131,164,174,174,175,175,171,173,176,...,183,183,180,176,174,176,179,181,183,184
14839,188,161,199,171,164,210,196,188,230,196,...,189,187,165,209,200,215,165,255,0,0
3116,0,0,0,0,0,0,0,0,0,0,...,144,143,138,138,146,144,156,151,145,140
15155,171,209,209,143,201,193,201,184,216,198,...,131,139,111,114,133,118,117,144,114,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10191,0,0,0,0,0,0,0,0,0,0,...,172,179,177,153,198,171,163,178,176,176
24680,148,144,139,137,147,157,160,150,142,137,...,80,78,79,79,79,78,79,81,78,81
16427,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7322,113,202,173,206,175,193,149,255,213,221,...,181,74,176,209,255,255,255,36,0,0
8162,113,202,173,206,175,193,149,255,213,221,...,181,74,176,209,255,255,255,36,0,0

In [17]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

---
# RandomForestClassifier
---

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
recycle_rfModel = RandomForestClassifier(max_depth=7)
recycle_rfModel.fit(train_x,train_y)
recycle_rfModel.score(train_x,train_y),recycle_rfModel.score(test_x,test_y)

(0.9777736531947473, 0.9688195991091314)

In [12]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_rf.pkl'
joblib.dump(recycle_rfModel,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_rf.pkl']

In [21]:
pred=recycle_rfModel.predict(test_x)
print(classification_report(test_y,pred))

              precision    recall  f1-score   support

         can       0.93      0.98      0.95       898
       glass       1.00      1.00      1.00      1200
       paper       0.91      0.99      0.95      1021
     plastic       1.00      0.94      0.97      1000
   styrofoam       1.00      0.93      0.97      1269

    accuracy                           0.97      5388
   macro avg       0.97      0.97      0.97      5388
weighted avg       0.97      0.97      0.97      5388

---
# SVC
---

In [13]:
from sklearn.svm import SVC
recycle_svc=SVC(kernel='linear',random_state=100)
recycle_svc.fit(train_x,train_y)
recycle_svc.score(train_x,train_y),recycle_svc.score(test_x,test_y)

(1.0, 0.9914625092798812)

In [14]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_svc.pkl'
joblib.dump(recycle_svc,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_svc.pkl']

In [22]:
pred=recycle_svc.predict(test_x)
print(classification_report(test_y,pred))

              precision    recall  f1-score   support

         can       0.96      0.99      0.98       898
       glass       1.00      1.00      1.00      1200
       paper       0.99      0.97      0.98      1021
     plastic       1.00      0.99      1.00      1000
   styrofoam       1.00      1.00      1.00      1269

    accuracy                           0.99      5388
   macro avg       0.99      0.99      0.99      5388
weighted avg       0.99      0.99      0.99      5388

---
# LogisticRegression
---

In [24]:
from sklearn.linear_model import LogisticRegression
recycle_LR=LogisticRegression()
recycle_LR.fit(train_x,train_y)
recycle_LR.score(train_x,train_y),recycle_LR.score(test_x,test_y)

c:\Users\KDP-040\anaconda3\envs\MY_PYTHON\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

(0.9566609438077119, 0.9534149962880475)

In [25]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_LR.pkl'
joblib.dump(recycle_LR,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_LR_scaled.pkl']

---
# scaled
---

In [ ]:
feature=feature/255
feature.head(3)

In [ ]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(feature,target,test_size=0.2,random_state=12, stratify=target)

In [ ]:
train_x.shape,test_x.shape

In [ ]:
train_x

---
# RandomForestClassifier
---

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
recycle_rfModel = RandomForestClassifier(max_depth=7)
recycle_rfModel.fit(train_x,train_y)
recycle_rfModel.score(train_x,train_y),recycle_rfModel.score(test_x,test_y)

In [ ]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_rf_scaled.pkl'
joblib.dump(recycle_rfModel,model_file)

---
# SVC
---

In [ ]:
from sklearn.svm import SVC
recycle_svc=SVC(kernel='linear',random_state=100)
recycle_svc.fit(train_x,train_y)
recycle_svc.score(train_x,train_y),recycle_svc.score(test_x,test_y)

(1.0, 0.9914625092798812)

In [ ]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_svc_scaled.pkl'
joblib.dump(recycle_svc,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_svc_scaled.pkl']

---
# LogisticRegression
---

In [ ]:
from sklearn.linear_model import LogisticRegression
recycle_LR=LogisticRegression()
recycle_LR.fit(train_x,train_y)
recycle_LR.score(train_x,train_y),recycle_LR.score(test_x,test_y)

c:\Users\KDP-040\anaconda3\envs\MY_PYTHON\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

(0.9566609438077119, 0.9534149962880475)

In [ ]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_LR_scaled.pkl'
joblib.dump(recycle_LR,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_LR_scaled.pkl']

In [ ]:
# 가장 잘 분류하는 모델 저장

In [24]:
import joblib
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_predict.pkl'

In [26]:
import os
from joblib import load
import cv2
if not os.path.exists(model_dir): os.makedirs(model_dir)

In [25]:
joblib.dump(rdModel,model_file)

['./edu/9.opencv/Day_02/model/mnist/recycle_predict.pkl']

In [82]:
# 모델 파일 관련 변수
model_dir='./edu/9.opencv/Day_02/model/mnist/'
model_file = model_dir+'recycle_predict.pkl'

In [84]:
recycle_predict = load(model_file)
file='./edu/9.opencv/data/Garbageclassification/glass/glass102.jpg'
img=cv2.imread(file,cv2.IMREAD_GRAYSCALE)
print('load_image ok')
img=cv2.resize(img,(256,192))
print('resize_image ok')
img=img.reshape((-1,49152))
print(img.shape)
recycle_predict.predict(img)

load_image ok
resize_image ok
(1, 49152)

c:\Users\KDP-040\anaconda3\envs\MY_PYTHON\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['metal'], dtype='<U9')

In [86]:
file='./edu/9.opencv/data/Garbageclassification/glass/glass102.jpg'
img=cv2.imread(file,cv2.IMREAD_GRAYSCALE)
img=img.reshape((-1,49152))
rdModel.predict(img)

c:\Users\KDP-040\anaconda3\envs\MY_PYTHON\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['metal', 'metal', 'metal', 'metal'], dtype='<U9')

In [44]:
# from sklearn.neighbors import KNeighborsClassifier
# recycle_KNN=KNeighborsClassifier()
# recycle_KNN.fit(train_x,train_y)
# recycle_KNN.score(train_x,train_y),recycle_KNN.score(test_x,test_y)

In [4]:
import os

folder_path = r"C:\Users\KDP-040\Desktop\bottle\glass_bottle"  # 사진 파일들이 있는 폴더 경로
# new_path = r"C:\Users\KDP-040\Desktop\bottle\glass_bottle"
cnt=1
for filename in os.listdir(folder_path):
    if filename.endswith(".jpg"):
        date_part = filename.split("_")[0]  # 날짜 부분 추출
        new_filename = f"glassbottle_{cnt}.jpg"  # 새로운 파일명 생성
        
        old_path = os.path.join(folder_path, filename)
        new_path = os.path.join(folder_path, new_filename)
        
        os.rename(old_path, new_path)  # 파일 이름 변경
        cnt+=1