---
### 1. 블로그 감성 분석 csv 파일 불러오기
---

In [2]:
import pandas as pd
emo=pd.read_csv('./edu/12.sql/teamproject_1011/data/블로그감성분석.csv')
emo

,링크,내용,해시태그,검색키워드,data,감성분석,감성분석결과
0,https://blog.naver.com/hanke/223148038433,대구 곳 대구 이월드 물놀이 아쿠아 아쿠아 플레이 존 오늘 첫 포스팅 대구 곳 물놀...,대구가볼만한곳 대구이월드 이월드 대구물놀이 이월드아쿠아빌리지 이월드아쿠아플레이존,이월드,대구 곳 대구 이월드 물놀이 아쿠아 아쿠아 플레이 존 오늘 첫 포스팅 대구 곳 물놀...,-7,0
1,https://blog.naver.com/kkulee/222972014637,쯤 대구 이월드 야경 소식 접 번 야간 자유 이용권 입장권 할인 루미 네이션 축제 ...,내돈내산 대구이월드 자유이용권 입장권할인 일루미네이션 야간 야경 대구놀거리,이월드,쯤 대구 이월드 야경 소식 접 번 야간 자유 이용권 입장권 할인 루미 네이션 축제 ...,12,1
2,https://blog.naver.com/eworld_dg/223233061377,이월드 이월드 페 스티브 마켓 주말 마켓 운영 시안 카멜 앞 어드벤처 광장 야외 감...,이월드 이월드맛집 대구이월드 이월드할인 이월드간식 대구가볼만한곳 대구핫플 대구아이와...,이월드,이월드 이월드 페 스티브 마켓 주말 마켓 운영 시안 카멜 앞 어드벤처 광장 야외 감...,8,1
3,https://blog.naver.com/max_ad-min/223231148211,대구 이월드 연간 회원 뽕 뽑기 편입 니 주 번의 방문 뽕 애슐리 퀸즈 이용 연간 ...,애슐리 애슐리퀸즈 대구 이월드 대구이월드점 83타워 연간회원할인 10프로할인,이월드,대구 이월드 연간 회원 뽕 뽑기 편입 니 주 번의 방문 뽕 애슐리 퀸즈 이용 연간 ...,8,1
4,https://blog.naver.com/saddyblue0/223127190176,물놀이 여름 올해 첫 물놀이 대구 아이 곳 이월드 아쿠아 수영장 시작 물놀이 놀이기...,대구가볼만한곳 대구아이와가볼만한곳 대구수영장 대구물놀이 이월드수영장 이월드 이월드아...,이월드,물놀이 여름 올해 첫 물놀이 대구 아이 곳 이월드 아쿠아 수영장 시작 물놀이 놀이기...,2,1
...,...,...,...,...,...,...,...
7555,https://blog.naver.com/simple053/222927063253,대구 수성구 위치 대구 은행 본점 지하 층 금융 박물관 저 자 차이 지하철 타고 이...,첫글 대구은행 대구은행금융박물관 대구아이랑가기좋은곳 대구어린이체험 은행원체험,대구은행 금융박물관,대구 수성구 위치 대구 은행 본점 지하 층 금융 박물관 저 자 차이 지하철 타고 이...,-3,0
7556,https://blog.naver.com/jdchild1/222941425851,어린이집 견학 금융 박물관 누리 과정 오늘 어린이집 곳 위치 대구 은행 점지 금융 ...,중동 7세반 대구은행 표준보육과정 누리과정,대구은행 금융박물관,어린이집 견학 금융 박물관 누리 과정 오늘 어린이집 곳 위치 대구 은행 점지 금융 ...,2,1
7557,https://blog.naver.com/roopretel77/222958617517,대구 은행 금융 박물관 대구 은행 금융 박물관 대구 은행 본점 지하 금융 박물관 휴...,대구은행 대구은행금융박물관 대구아이와가볼만한곳 대구아이체험 수성구아이와가볼만한곳,대구은행 금융박물관,대구 은행 금융 박물관 대구 은행 금융 박물관 대구 은행 본점 지하 금융 박물관 휴...,-8,0
7558,https://blog.naver.com/ssgk6611/222904573937,대구 은행 금융 박물관 방문 세계 나라 화폐 그림 또 은행 일 지폐 속 그림 찾기 ...,대구유치원 신세계유치원 대구신세계유치원 수성구유치원 수성1가유치원 대구은행 금융박물...,대구은행 금융박물관,대구 은행 금융 박물관 방문 세계 나라 화폐 그림 또 은행 일 지폐 속 그림 찾기 ...,-4,0
7559,https://blog.naver.com/daegu_news/221741810111,체험 학습 동시 지역 민 어린이 청소년 금융 가치관 경제 지식 전달 위해 대구 은행...,2019대구시민기자단 대구시민기자단 시민기자단 DGB 대구은행 금융박물관 금융가치관...,대구은행 금융박물관,체험 학습 동시 지역 민 어린이 청소년 금융 가치관 경제 지식 전달 위해 대구 은행...,-72,1

---
### 2. kkma를 이용하여 형태소 분석(skip)
---

In [3]:
# from konlpy.tag import Kkma
# from tqdm import tqdm
# kkma = Kkma()
# box = []
# for i in tqdm(emo['data']):
#     a=kkma.nouns(i)
#     box.append(" ".join(a))
# emo['data']=box

---
### 3. 벡터화
---

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
cv=CountVectorizer()
dtm = cv.fit_transform(emo['data'])
dtm_df = pd.DataFrame(dtm.toarray(), columns=cv.get_feature_names_out())
dtm_df.head(2)

,01052362882,07시48분출발,0811,100,100년도서관,100대명산,100대명산달성비슬산,100대명산완등,100대명산플러스,100대피아노,...,힙색,힙쟁,힙쟁이셔,힙하,힙합,힙합공연,힙해,힙했다,힝구,힝둥새
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---
### 4. 코사인 유사도 
---

In [5]:
# 코사인 유사도 : 두 벡터 사이의 각도의 코사인 값 ( -1 ~ 1 )
def make_cosine(a,b):
    return np.dot(a,b) / (np.linalg.norm(a) * np.linalg.norm(b)) # a, b의 내적

In [9]:
# 임의 문장
text='너무 힘들다 힐링이 필요해 휴양지 추천해줘'

# kkma로 형태소 분석
from konlpy.tag import Kkma
kkma = Kkma()
def recommand_place(text):
    target=kkma.nouns(text)
    target=' '.join(target)

    # 기존 텍스트랑 형태소 분석된 텍스트를 합치기
    target=[text +" " + target]
    nor_target = cv.transform(target)
    nor_target.toarray()[0]

    # cosine 유사도 계산
    box=[]
    for i in range(len(dtm_df)):
        sample = dtm_df.iloc[i].to_numpy()
        cosine = make_cosine(nor_target.toarray()[0],sample)
        box.append(cosine)
    
    # 가장 유사도가 높고 감성분석 결과가 1(긍정)인 키워드 출력
    emo['유사도분석']=box
    final_result=emo.sort_values(by=['유사도분석'],ascending=[False])
    keyword = final_result[final_result.감성분석결과 == 1].검색키워드.iloc[0]
    return keyword
print(recommand_place(text))

한강공원

---
### 5. 테스트
---

In [10]:
text2='실내 데이트 장소 추천해줘'
print(recommand_place(text2))

대구아쿠아리움

In [11]:
text3='이월드에 가서 츄러스랑 솜사탕을 먹고싶어'
print(recommand_place(text3))

이월드 알파카 목장

In [12]:
text4='놀이공원에 가서 츄러스랑 솜사탕을 먹고싶어'
print(recommand_place(text4))

동촌파크광장놀이공원

In [13]:
text5='한국의 역사를 알고싶어'
print(recommand_place(text5))

화랑공원

In [14]:
text6='아이들이랑 물고기 보러 가고 싶어'
print(recommand_place(text6))

대구아쿠아리움